@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  background-color: #ffffff;
  font-family: 'Inter', 'sans serif';
  font-weight: 200;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.title {
  padding-top: 14px;
  font-weight: 800;
}

.launchDate {
  font-weight: 200;
  font-size: medium;
  padding-top: 14px;
}

@media screen and (max-width: 920px) {
  .launchDate {
    font-weight: 200;
    font-size: x-small;
    padding-top: 14px;
  }
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Inter', sans-serif;
  font-style:  italic;
  font-weight: 900;
  font-display: swap;
}
